django
django-db
djangorestframework
djangorestframework-simplejwt
celery
django_celery_beat
django-redis
redis
django-cors-headers
django-filter
pillow
psycopg2
gunicorn[standard]
drf-spectacular
django-extensions
django_celery_results
requests